---
---

@import "bootstrap";

body {
  padding-top: 70px;
  text-align: justify;
}

figcaption {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 20px;
}

h1 {
  color: #C81919;
}

.breadcrumb {
  background: none;
  border: none;
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.team-member-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;   /* Breathing room on mobile */
  padding-right: 20px;
  width: 100%;
  max-width: 900px;
}

/* Navigation bar */
.navbar-default {
  background-color: #f5f5f5;
}

@media (min-width: 1900px) {
  .navbar-default {
    background-image: url('/images/banner/graph-generated-transparent1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.navbar-brand {
  font-weight: bold;
  color: #373737 !important;
}

.navbar .navbar-nav > li > a {
  color: #373737;
  &:hover {
    color: #C81919;
  }
}

/* Carousel */

.carousel {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cards-container {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 gap: 20px;
}


.card {
 display: flex;
 border: 1px solid #ccc;
 padding: 20px;
 background-color: #f9f9f9;
 border-radius: 8px;
 align-items: center; /* Align items vertically in the center */
}

.col-md-2 {
 flex: 0 0 auto; /* Prevent the image column from shrinking */
 margin-right: 20px; /* Add some space between the image and the text */
}

.col-md-10 {
 flex: 1; /* Allow the text column to take up the remaining space */
}

.panel {
    margin-top: 60px;
    border: 1px solid #e7e7e7; 
    border-width: 4px 0 4px 0;
}

.panel-footer {
    padding: 25px 0 10px 0;
}

#footer-row {
	display: flex;
	align-items: stretch; /* Makes all columns equal height */
}

#footer-row .col-sm-4 {
	display: flex;
	flex-direction: column;
}

#footer-row .col-sm-4:not(:last-child) {
	border-right: 1px solid #C81919; /* Light gray border */
	padding-right: 20px;
  
}

#footer-row .col-sm-4:not(:first-child) {
	padding-left: 20px;
}

