---
title: "Publications"
layout: default
excerpt: "SciML/e -- Publications."
sitemap: false
permalink: /publications/
---

<h1 style="margin-bottom: 22px;">{{page.title}}</h1>

<div class="panel-group" id="paper-highlights" style="margin-bottom: 40px;">
    <div class="panel panel-default">

        {% assign publist = site.data.publications-scraped %}

        {% for publi in publist %}
        <a href="https://doi.org/{{ publi.DOI }}" style="color: inherit; text-decoration: none;">
            <div class="panel-body">
            <div class="row align-items-center">
                
                <!-- Left column: paper details -->
                <!-- title -->
                <b style="font-size: 17px;">"{{ publi.title }}"</b><br>

                <!-- authors -->
                {% for author in publi.author %}
                    {% if author.given != "" and author.family != "" %}
                    {{ author.given }} {{ author.family }}{% unless forloop.last %}, {% endunless %}
                    {% endif %}
                {% endfor %} <br>

                <!-- container -->
                <i>{{ publi.container-title }}</i>

                <!-- issued date -->
                ({{ publi.issued.month_year }}) <br>
                </a>

                </div>

            </div>
        {% endfor %}

    </div>
</div>
